img {
  width: 200px;
  height: 150px;
}

div {
  margin: auto;
}

.col-md-2 {
  background-color: bisque;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

ul {
  background-color: bisque;
  text-align: left;
}

p {
  background-color: bisque;
  text-align: left;
}

li {
  background-color: bisque;
}

h3 {
  text-align: center;
  background-color: bisque;
}